/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $grey-2;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey-5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $grey-6;
}

.rounded-xs {
  border-radius: 6px;
}
.rounded-sm {
  border-radius: 8px;
}
.rounded-md {
  border-radius: 10px;
}
.rounded {
  border-radius: 12px;
}
.rounded-lg {
  border-radius: 16px;
}
.rounded-xl {
  border-radius: 20px;
}
.rounded-2xl {
  border-radius: 28px;
}
.rounded-2xl {
  border-radius: 36px;
}

.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.gap-4 {
  gap: 16px;
}
.gap-5 {
  gap: 20px;
}
.gap-6 {
  gap: 24px;
}

.flex-1 {
  flex: 1;
}

a {
  text-decoration: none;
}

.min-w-300 {
  min-width: 300px;
}

.max-w-350 {
  max-width: 350px !important;
  width: 100%;
}

.max-w-450 {
  max-width: 450px !important;
  width: 100%;
}
