$primary: #3d5875;
$secondary: #3e7e55;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #3e7e55;
$negative: #aa3a46;
$info: #56718e;
$warning: #f2c037;

$green-1: #eaeee5;
$green-2: #cadec8;
$green-3: #aadcb6;
$green-4: #7abd87;
$green-5: #3e7e55;

$red-1: #efd1d4;
$red-2: #e2acb2;
$red-3: #c7838a;
$red-4: #c3515d;
$red-5: #aa3a46;

$blue-1: #eaedf1;
$blue-2: #c0cad5;
$blue-3: #96a7b9;
$blue-4: #56718e;
$blue-5: #3d5875;

$yellow-1: #fefcf2;
$yellow-2: #fbf6d7;
$yellow-3: #f9f3ca;
$yellow-4: #f6eeb0;
$yellow-5: #f3e895;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
